.img-form {
	margin:10px;
}
.img-form span {
	background:lightblue; 
	padding:10px; 
	clear:left; 
	border:2px solid gray;
	margin-left:1em;
	vertical-align:baseline;
	line-height:4em;
}
.img-form img {
	border:1px solid gainsboro;
	float:left;
}
#content-inner #main-column a.add-new-image {
	background: green;
	color:white;
	font-size:1.3em;
	padding:10px;
	border:3px solid gainsboro;
	margin:15px;
	font-weight:bold;
	float:left;
}
#content-inner #main-column a.add-new-image {
	margin-left:9px;
}
#content-inner #main-column a.add-new-image:hover{
	background:darkblue;
	text-decoration:none;
}
span.multi .submit {
	float:right;
	position:fixed;
	top:13.5em;
	right:13.5em;
}
.add-images{
	clear:both;
	margin-top:3em;
}
.hidden-for-js{
	display:none;
}